*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  scroll-behavior:'smooth';
  font-family:'system-ui', 'san sirf';
}

header{
  width:100vw;
  height:50px;
  background: rgba(0, 0 ,0 , 0.5);
  display: flex;
  align-items:center;
  justify-content:center;
}

header ul{
  display:flex;
  width:40%;
  align-items:center;
  justify-content: space-evenly;
}

header ul li{
  list-style-type: none;
  padding: 6px 12px;
  border-radius:5px;
  background-color: lightgreen;
  font-weight:600;
}

a{
  text-decoration: none;
  color:#fff;
}

